openapi: 3.0.0
info:
  title: API для сканера
  version: 1.0.1
  description: |
    API для управления сервисом

servers:
  - url: http://localhost:3000 # Замените на реальный URL вашего сервера
    description: Локальный сервер разработки

paths:
  # GET запросы
  /folder-structure:
    get:
      summary: Возвращает структуру папок в виде JSON
      description: Возвращает структуру папок (и файлов) в указанном каталоге в виде JSON.
      parameters:
        - in: query
          name: path
          schema:
            type: string
          required: true
          description: Абсолютный или относительный путь к папке.
      responses:
        '200':
          description: Успешный запрос. Возвращает структуру папок в виде JSON.
          content:
            application/json:
              schema:
                type: object
                properties:
                  folders:
                    type: array
                    items:
                      $ref: '#/components/responses/InternalServerError'
              example:
                {
                  "folders": [
                    {
                      "name": "папка1",
                      "type": "folder+"
                    },
                    {
                      "name": "папка2",
                      "type": "folder"
                    }
                  ]
                }

        '500': # Ошибка на сервере (например, не удалось создать папку из-за проблем с файловой системой)
          $ref: '#/components/responses/InternalServerError'

  /delete-list:
    get:
      summary: Удаляем тему по ID
      description: Удаляем тему по ID
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            format: int64 #  (или int32, в зависимости от диапазона ваших ID)
            description: Идентификатор папки (должен быть числом).
            example: 123
          required: true
      responses:
        '200':
          description: Папка успешно открыта.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Folder open"
                example:
                  {
                    "status": "success",
                    "message": "Folder open"
                  }
        '500': # Ошибка на сервере (например, не удалось создать папку из-за проблем с файловой системой)
          $ref: '#/components/responses/InternalServerError'

 
  /open-document:
    get:
      summary: Открыть document
      description: Если папка содержит document папку внутри то читаем содержание в ней файлов и выводим
      parameters:
        - in: query
          name: path
          schema:
            type: string
          required: true
          description: Абсолютный или относительный путь к новой папке.
      responses:
        '201': # Обычно для создания ресурса используют 201 Created
          description: Возвращает массив строк с именами файлов.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - "строка 1"
                - "строка 2"
                - "и т.д."

        '500': # Ошибка на сервере (например, не удалось создать папку из-за проблем с файловой системой)
          $ref: '#/components/responses/InternalServerError'

  /scan:
    get:
      summary: Сканируем документ
      description: Сканируем документ в конкретной папки и выводим в форме li
      responses:
        '200': # Успешное открытие папки
          description: Папка успешно открыта для анализа.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Folder open"
                example:
                  {
                    "status": "success",
                    "message": "Folder open"
                  }

  /create-page:
    get:
      summary: Создаем страницу
      description: создает папку в выбранном пути копируя по шаблону
      parameters:
        - in: query
          name: path
          schema:
            type: string
          required: true
          description: Абсолютный или относительный путь к новой папке.
      responses:
        '201': # Обычно для создания ресурса используют 201 Created
          description: Папка успешно создана.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Folder created successfully"
              example:
                {
                  "status": "success",
                  "message": "Folder open"
                }

        '500': # Ошибка на сервере (например, не удалось создать папку из-за проблем с файловой системой)
          $ref: '#/components/responses/InternalServerError'

  /view-page:
    get:
      summary: Посмотреть содержаие страницы
      description: Посмотреть содержаие страницы по ID
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            format: int64 #  (или int32, в зависимости от диапазона ваших ID)
            description: Идентификатор li (должен быть числом).
            example: 1
          required: true
      responses:
        '200':
          description: Станица готова для просмотра
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Folder open"
                example:
                  {
                    "status": "success",
                    "message": "pageview"
                  }
        '500': # Ошибка на сервере (например, не удалось создать папку из-за проблем с файловой системой)
          $ref: '#/components/responses/InternalServerError'

  # POST запросы
  /create-folder:
    post:
      summary: Создает новую папку
      description: Создает новую папку по указанному пути.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                path:
                  type: string
                  description: Абсолютный или относительный путь к новой папке.
                  example: "/путь/к/новой/папке"
              required:
                - path
      responses:
        '201':
          description: Папка успешно создана.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Folder created successfully"
                example:
                  {
                    "status": "success",
                    "message": "Folder created successfully"
                  }
        '500':
          $ref: '#/components/responses/InternalServerError'

  /create_topic:
    post:
      summary: Создает новую тему
      description: Создает новую тему на страницу
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64 # Или int32
                  description: Идентификатор новой страницы.
                  example: 123
                path:
                  type: string
                  description: Абсолютный или относительный путь к новой странице.
                  example: "/путь/к/новой/странице"
              required:
                - id
                - path
      responses:
        '201':
          description: Тема успешно создана.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Folder created successfully"
                example:
                  {
                    "status": "success",
                    "message": "Folder open"
                  }
        '500':
          $ref: '#/components/responses/InternalServerError'

  /delete-select:
    post:
      summary: Удалит все что выделено галочками
      description: Создает новую тему на страницу
      requestBody:
        required: true
        content:
          application/json:
            schema:
             type: array  # Изменяем тип на array
             items:  # Описываем элементы массива
              type: string
      responses:
        '201':
          description: Удалили все выделенное галочками успешно.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "File modified"
                example:
                  {
                    "status": "success",
                    "message": "File modified"
                  }
        '500':
          $ref: '#/components/responses/InternalServerError'

  /leave-selected:
    post:
      summary: Оставим выделеное остальное удаляем
      description: Оставим выделеное остальное удаляем
      requestBody:
        required: true
        content:
          application/json:
            schema:
             type: array  # Изменяем тип на array
             items:  # Описываем элементы массива
              type: string
      responses:
        '201':
          description: Удалили все выделенное галочками успешно.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "File modified"
                example:
                  {
                    "status": "success",
                    "message": "File modified"
                  }
        '500':
          $ref: '#/components/responses/InternalServerError'

  /look-page:
    post:
      summary: На выделеные чексбуксы формируем страницы для просмотра
      description: На выделеные чексбуксы формируем страницы для просмотра
      requestBody:
        required: true
        content:
          application/json:
            schema:
             type: array  # Изменяем тип на array
             items:  # Описываем элементы массива
              type: string
      responses:
        '201':
          description: Страница сформирована
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "File modified"
                example:
                  {
                    "status": "success",
                    "message": "File create"
                  }
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Сообщение об ошибке.
          example: "Something went wrong"
      required:
        - error

  responses:  # Многократно используемые ответы
    BadRequest:
      description: Некорректный запрос.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            {
              "error": "Invalid request"
            }
    Forbidden:
      description: Доступ запрещен.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            {
              "error": "Access denied"
            }
    InternalServerError:
      description: Ошибка на сервере.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            {
              "error": "Internal server error"
            }